h1 {
  color: #FFFFFF;
  font-size: 4.5em;
}

main {
  text-align: center;
  width: 530px;
  margin: 0 auto;
  padding-top: 60px;
}

.clue-text-wrapper {
  width: 100%;
  background: #CC324B;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  height: 100px;
  border-radius: 4px 4px 0 0; 
}

.input-area-wrapper {
  width: 100%;
  background-color: #394264;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  height: 360px;
}

.answers-so-far-wrapper {
  width: 100%;
  background-color: #11A8AB;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  height: 110px;
  border-radius: 0 0 4px 4px;
}